[Unit]
Description=weatherd
After=multi-user.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/WeatherPi/weatherd/
ExecStart=/usr/bin/python /home/pi/WeatherPi/weatherd/weatherd.py
StandardOutput=syslog
StandardError=syslog
Restart=on-abort

[Install]
WantedBy=multi-user.target
