body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #252830;
    color: #f8f8f8;
    font-family: 'Segoe UI', 'Lucida Grande', 'Ubuntu', 'sans-serif';
    font-size: 10pt;
}

#app-container {
    width: 800px;
    height: 480px;
    margin: auto;
}

#menu {
    margin: auto;
    font-size: 20pt;
    color: #1ca8dd;
    text-align: center;
}

#menu a {
    color: #1ca8dd;
    text-decoration: none;
}

#previous, #pagination, #next {
    display: inline-block;
    margin: 0 10px 0 10px;
}

.dot {
    display: inline-block;
    margin: 0 10px 0 10px;
    width:10px;
    height:10px;
    border: solid 1px gray;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.dot:hover {
    background: #656565;
}

.dot-active {
        background: #1ca8dd;
}

.dot-active:hover {
    background: #1ca8dd;
}

.current-label {
    font-size: .7em;
    margin-bottom: 15px;
}

.chart {
    font-size: 20pt;
    padding: 10px;
}

.quad {
    float: left;
    font-size: 26pt;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 395px;
    height: 220px;
    padding: 10px;
}

.quad > div {
    margin: 10px 0 5px 15px;
}

.black {
    color: #252830;
}

.white {
    color: #f8f8f8;
}

.grey {
    color: #656565;
}

.blue {
    color: #1ca8dd;
}

.green {
    color: #1bc98e;
}

.red {
    color: #e64759;
}

.purple {
    color: #9f86ff;
}

.yellow {
    color: #e4d836;
}
